.dashboard {
  font-family: var(--font);
  background: var(--bg);
  padding: 2% 4%;

  h1 {
    color: var(--fg)
  }

  h3:hover { 
    cursor: pointer;
  }

  .add form {
    margin: 1%;
    display: flex; 
    justify-content: space-between;

    div {
      display: flex;
    }

    select {
      font-size: 1.4rem;
      border: none;
      background: var(--bg2);
      border-radius: 7px;
      color: var(--fg2);
      padding: 0 2%;

    }

    input {
      border: none;
      font-size: 1.4rem;
      background: var(--bg2);
      color: var(--fg2);
      padding: 1% 3%;
      border-radius: 7px;

      &[type='text'] {
	margin-right: 4%;
      }

      &[type='submit'] {
	color: var(--fg);
      }
    }

  }

  @media only screen and (max-width: 768px) {
    .add form {
      margin-top: 6%;
      flex-direction: column;
      flex-wrap: wrap;
       & > * {
	width: 100%;
	margin-bottom: 2%;
       } 
       div {
	flex-direction: column;
	input {
	  width: 94%;
	}
	& > * { 
	  width: 100%; 
	  margin-bottom: 2%;
	}
       } 
    }
  } 
}
