.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  background: var(--bg);

  .links {
    display: flex;
    align-items: center;

    h2 {
      color: var(--fg);
      font-size: 0.9rem;
      margin-right: 5%;
    }

    span {
      color: var(--fg2);
    }
  }

  .misc {
    display: flex;
    align-items: center;
  }
  
  .links a, .misc a {
    margin: 0 5%; 
    text-decoration: none;
    color: var(--fg2);
    transition: color 250ms ease;

    &:hover {
      color: var(--fg);
    }
  }
}
