.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  background: var(--bg);
  height: 5vh;
  width: 90%;
  
  .links a, .misc a {
    margin: 0 4%; 
    text-decoration: none;
    color: var(--fg2);
    transition: color 250ms ease;

    &:hover {
      color: var(--fg);
    }
  }
}
